body {
    background-image: url(../pictures/hatter.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: larger;
}

#logo {
    max-width: 70px;
    border-radius: 100%;
}

h1 {
    font-family: fantasy;
}

.narancs {
    color: rgb(255, 149, 0);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
}

.menu:hover {
    font-weight: bold;
    transition: 0.5s;
}

header {
    background-color: rgba(0, 0, 0, 0.447);
}

button {
    background-color: rgb(255, 81, 0);
    padding: 12px 25px;
    color: white;
    border-radius: 9px;
    border: none;
    font-size: larger;
    box-shadow: 3px 3px 2px black;
}

button:hover {
    background-color: rgb(247, 62, 5);
    font-weight: bold;
    transform: translateX(4px);
}

h2 {
    font-size: 7vh;
    font-weight: bolder;
}

h3 {
    font-size: 5vh;
}

.focim {
    transform: rotate(-3deg);
    text-shadow: 3px 3px 0 rgba(0,0,0,0.25);
}

.levagott {
    background: #4d7aff;
    padding: 40px;
    color: white;
    clip-path: polygon(5% 10%, 100% 10%, 95% 100%, 0 100%);
}

.mandarin {
    background-color: orangered;
}

.ho {
    background-color: whitesmoke;
    color: rgb(4, 4, 176);
}

.eg {
    background-color: rgb(4, 4, 176);
}
